// Variables
@import "../../../../assets/styles/helpers/mixins";

.item {
  width: 24%;
  margin-right: 1%;
  float: left;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  @media($smMaxScreen) {
    width: 48%;
    margin-right: 1%;;
  }
  @media($xsScreen) {
    width: 98%;
    margin-right: 1%;;
  }
  h4 {
    color: #727272;
  }
  strong {
    @include font(20px, 700);
  }
}
