// Variables

/* Colors */
$primaryColor:#FF8800;

/* Fonts */
$mainFont: 'Roboto', sans-serif;

/* Media Queries */
$xsScreen:'max-width:767px';
$smMinScreen:'min-width:768px';
$smMaxScreen:'max-width:992px';
$mdMinScreen:'min-width:992px';
$lgScreen:'min-width:1200px';
